.aboutPage{
    display: flex;
    flex-flow: column;
    width: 60%;
    margin:  0 auto;
    margin-bottom: 5rem;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}
.aboutPageBanner{
    display: flex;
    height: 400px;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    font-family:Helvetica, sans-serif;
}
.aboutPageBanner>img{
    height: 400px;
    width: 100%;
    position: absolute;
    z-index: -999;
}
.aboutPageBanner>h2{
    font-size: 6rem;
    color: white;
}

.aboutPage>.aboutPageHead{

    font-size: 5rem;
    font-family: 'Crimson Text', sans-serif;
    border-bottom: 1px solid lightgray;
    margin-bottom: 2rem;

}
.aboutPage>.aboutPageContent{
    display: flex;
    padding: 2rem;
    flex-flow: column;
    justify-content: center;
    align-content: center;
    font-size: 16px;
    text-align: justify;
    font-family:Helvetica, sans-serif;
}
@media screen and (max-width:768px){

    .aboutUsContent{

        width: 100%;
    }
    .aboutPageBanner>h2{
        font-size: 4rem;
     
    }
    .aboutPage{

        width:95%;
    }
    
}