.blogs-banner{

    height: 400px;
    width: 100%;
    background-image: url(../static/images/blog.jpg);
    background-size: cover;
    justify-content: center;
    display: flex;
    flex-flow: column;
}




.blogs-header>h1{
    color: #a12d2d;
    text-align: center;
    font-size: 80px;
    display: flex;
    justify-content: flex-end;
    padding: 350px;
    font-family: sans-serif;
}

.blogs-content{

    height: auto;
    width: 100%;
    padding: 70px;
    justify-content: center;
    align-items: center;
}

.blogs-list{

    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%; 
}

.blogs-item{

    border-radius: 2rem;
    border: 2px solid black;
    box-shadow: 5px 5px;
    height: auto;
    width: 40%;
    margin: 30px;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: lightgray;
}

.blogs-img>img{

    height: 280px;
    width: 400px;
    padding: 30px;
    border-radius: 4rem;
    
}

.blogs-pdf>h3{
    margin-top: 130px;
}

@media screen and (max-width:768px)
{

.blogs-banner{

    width: 100%;
}

.blogs-header>h1{

    font-size: 48px;
    margin-top: 40px;
}

.blogs-content{

    width: 100%;
}

.blogs-item{

    width: 100%;
    height: auto;
}

.blogs-img>img{

    height: 200px;
    width: 250px;
}

.blogs-pdf>h3{

    text-align: center;

}
















}