.careers{
  
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background: url(../static/images/careers.jpg) 
}
.careersList>.head{ 
    margin: 0 auto;
    font-family:Helvetica, sans-serif;
    width: unset;
    text-align: center;
}
.careersList>.head>h2{
    font-size: 3.5rem;
    font-weight: 700;
    color:#A12D2D;
}
.careersList{
    padding: 2rem;
    margin: 30px;
    display: flex;
    border-radius: 0.75rem;
    flex-flow: column;
    background: rgba(255,255,255,0.8);
    width: 67%;
    font-family:Helvetica, sans-serif;
}
.careersItem{
    display: flex;
    flex-flow: column;
    border-bottom: 1.5px solid lightgray;
}
.careersHead{
    display: flex;
    flex-flow: row;
    
    flex-wrap: wrap;
}
.careersHead>h2{
    border-bottom: 1px solid lightgray;
    width: auto;
    font-size: 2.5rem;
    font-family:Helvetica, sans-serif;
    color: #115E9C;
    font-weight: bold;
}

.careersContent {
    display: flex;
    flex-flow: column;
    width: 95%;
    margin: 0 auto;
    text-align: justify;
    font-size: 15px;
}
.careersContent>.contentHead {
    font-weight: 700;
    display: flex;
    flex-flow: row;
}
.careersContent>.contentHead>p{
    border-bottom: 1px solid lightgray;
    color:#A12D2D;
    font-weight: bold;
}
.careersContent>p{
    padding-left: 3rem;
}

