html{
    scroll-behavior: smooth;
}

h2{
    font-size:3.5rem;
    font-family:Helvetica, sans-serif;
    text-align: center;
}

a:hover{
    text-decoration-line: none;
}
button:focus{
    outline: none;
}
li{
    text-decoration: none;
    color: black;
   
}
i{
    padding: 0.2rem;
}
.page{
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* align-content: center; */
    margin: 0 auto;
}
.pageHead{

    font-weight: 700;
    margin-bottom: 6rem;
    font-family:Helvetica, sans-serif;
}
.pageHead>h1{
    font-size: 4.5rem;
    font-weight: 600;
}
.pageContent{
    display: flex;
    flex-wrap: wrap;
}
@media screen and (max-width:768px){

    .pageHead>h1{

        
        font-size: 3rem;
    }

}