.contactus {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    padding-bottom: 40px;
    background:url(../static/images/contact-background-1-1.jpg);
    padding-top: 40px;
    height: 400px;
}

.contactus-header h1{
    font-size: 4rem;
    color: white;
    
}


.content_paragraph p {
    font-size:2rem;
    color: white;
    

}

/* .contactus-content{

    background-size: cover;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    width: 100%;
    flex-wrap: wrap;
    height: auto;
    padding: 30px;
    justify-content: space-evenly;

} */

.form-content{

    background-image: url(../static/images/bg1.jpg);
    background-size: cover;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    padding: 30px;

}

.form-group{

    height: auto;
    width: 40%;
    /* background-color: white; */
    padding-left: 80px;
    border-radius: 2rem;
    border: 2px solid black;
    box-shadow: 0px 0px 5px 7px;
    padding: 25px;
    margin-top: 50px;
    color: white;
    

    
    
    

}
button{
    background-color: black;
    
}
h1{

    text-align: center;
    font-size: 40px;
    padding: 20px;
    color: white;
}



.address{

    height: auto;
    width: 100%;
    padding: 50px;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.address-box{

    height: 300px;
    width: 30%;
    text-align: center;
    border: 2px solid black;
    border-radius: 2rem;
    box-shadow: 5px 7px;
    /* margin-left: 470px; */
    background-color:white;
    

}
.map{
    height: auto;
    width: 40%;
}
@media screen and (max-width:768px){


.contactus{

    width: 100%;
}
.content_paragraph{

    padding: 30px;
    text-align: center;
}
.content_paragraph>p{

    text-align: center;
}

.address{

    display: flex;
    justify-content: center;
}

.address-box{

    height: 335px;
    width: 70%;
    /* margin-left: 46px; */
}

.form-group{

    width: 100%;
}

.map{
    height: 250px;
    width: 270px;
    margin-top: 30px;
}
























}