.experiencePage{
    background: url(../static/images/adult.jpg);
    background-blend-mode: color;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(255,255,255 , 0.5); 
    
}
.experienceList{
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 98%;
    justify-content: space-evenly;
    align-content: center;
    margin: 0 auto;
}
.listItem{
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    width:56rem;
    margin-bottom: 2rem;
    BORDER: 1px solid lightgray;
    border-radius: 0.75rem;
    TEXT-ALIGN: CENTER;
    box-shadow: 0.0625rem 0.0625rem 0.625rem;
    padding: 2rem;
    background: rgb(255,255,255,0.7);
}

@media screen and (max-width:768px){
    .listItem{
        width: 95%;
    }
    .listItemDesc{
        font-size: 1.1rem;
    }
}

