.footer{
    display: flex;
    /* left: 0;
    right: 0;
    bottom: 0;
    position: absolute; */
    flex-flow: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background: black;
    color: white;
}
.footerList{
    display:  flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    list-style:  none;
}
.footerList>li>a{
    color: white;
    font-size: 15px;
    font-family:Helvetica, sans-serif
}

.footerSocialNetwork{

    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    width:40%;
}
.footerList>.footerSocialNetwork>i{

    
    padding: 2.5rem;
}

.footerright{

    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    width:50%;
    margin-top: 30px;
    justify-content: space-evenly;
}

.footerright>li>a{

    padding: 2rem;
    color: white;
}



@media screen and (max-width:768px){
    .footerList{
        flex-flow: row;
        width:70%; 
        justify-content: space-evenly;
    }
    
    .footerList>li{

        border-bottom:1px solid white; 
    }

    .footerright{

        width: 60%;
        justify-content: space-evenly;
    }
}