/*-------------------------------Banner-----------------------------*/

.banner {
    display:  flex;
    flex-flow: row;
    background: url('../static/images/banner.jpg');
    flex-wrap:  wrap;
    margin: 0 auto;
    justify-content: space-between;
    background-position: center;
    background-size: cover;
   
}
.banner>.bannerItem{
    padding: 5rem;
    display: flex;
    padding-top: 1rem;
    padding-bottom: 8rem;
    flex-flow: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    background: rgba(255,255,255,0.7);
    width: 550px;
    font-weight: bold;
    font-size: 16px;
    font-family:Helvetica, sans-serif;
}

.bannerItem>.bannerHead{
    margin: 0 auto;
    padding-bottom: 20px;
}
.bannerItem>.bannerHead>h2{
    font-size: 3rem;
    font-family: 'Crete Round', serif;
    color: #a12d2d;
    padding-top: 60px;
}

.bannerItem>.bannerContent{
   margin: 0 auto;
   justify-content: center;
   text-align: justify;
   width: 100%;
   

}
.bannerContent>ul>li{
    list-style-type: circle;
    color:#333333;
    
    font-size: 18px;
    
}

/*----------------------------------------Services-----------------------------*/
.services{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    padding-bottom: 5rem;
    padding-top: 5rem;
    justify-content: space-between;
    align-items: center;
    background: url(../static/images/service.png);

}
.services > .serviceHead{
    display: flex;
    flex-flow: column;
    justify-content: center;
    flex-wrap: wrap;
    font-family: 'Crete Round', serif;
    font-size: 5rem;
    margin: 0 auto;

}

.serviceHead>h2{
    font-size: 3.5rem;
    font-family:Helvetica, sans-serif;
    color: #a12d2d;
    font-weight: bold;
}
.services >.serviceList{
    padding: 2rem;
    font-family: 'Helvetica Neue' , sans-serif;
    display: flex;
    width: 100%;
    flex-flow: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.serviceList > .serviceItem {
    display: flex;
    /* border: 1px solid gray; */
    border-radius: 10px;
    box-shadow: 1px 1px 11px cadetblue;
    padding: 6px;
    width: 23%;
    margin: 0 auto;
    margin: 7px;
    flex-flow: column;
    flex-wrap: wrap;
    font-size: 1.3rem;
    justify-content: space-evenly;
}

.serviceItem > .serviceItemHead {
    font-weight: 700;
    border-bottom: 1px solid lightgray;
    font-size:1.7rem;
    text-align: center;
    color: #115E9C;
    
    

    
}

.serviceItem > .serviceItemContent {
    display: flex;
    flex-flow: column;
    text-align: justify;
    padding: 1rem;
    justify-content: space-evenly;
    font-size: 16px;
}

/*----------------------------------------aboutUs-------------------------------------*/
.aboutUs{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    padding-bottom: 4rem;
    padding-top: 4rem;
    justify-content: space-evenly;
    align-items: center;
    background-color: #c4def1;

}

.aboutUsHead{
    display: flex;
    flex-flow: column;
    justify-content: center;
    flex-wrap: wrap;
    font-family:Helvetica, sans-serif;
    /* font-size: 5rem; */
    margin: 0 auto;
}
.aboutUsHead h2{
    font-size: 4rem;
    font-weight: bold;
    font-family:Helvetica, sans-serif;
    font-size: 45px;
    color: #a12d2d;
    
}
.aboutUsContent{
    padding: 2rem;
    font-family:Helvetica, sans-serif;
    display: flex;
    flex-flow: column;
    width: 63%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
}
.content {
    WIDTH:65%;
    justify-content: flex-start;
    display: flex;
    text-align: justify;
    font-weight: bold;
    font-size: 19px;
}
.aboutUsbtn>a>button{
    background: #9e2a2b;
    border: none;
    border-radius: 10px;
    padding: 1rem;
    color: white;
    margin-top: 1rem;
    font-size: 18px;
}

/*-------------------------------------Clients------------------------------------------*/

.client {
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    margin-top: 7rem;
    margin-bottom: 7rem;
    justify-content: center;
    /* align-items: center; */
}

.clientHead{
    width: 70%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 1rem;
}
.clientHead>h2{
    
    border-bottom: 1px solid lightgray;
    font-family:Helvetica, sans-serif;
}
.clientContent{
    border: none;
    margin-top: 2rem;
    width: 70%;
    flex-flow: row;
    margin: 0 auto;
}
.clientImageSlide {
    height: 100px;
    max-width: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
 
}

.slider {
    height: 150px;
    width: 10000px;
    position: absolute;
    overflow-x: hidden;
    top: 0;
    /* left: -1531px; */
    /* animation-duration: 50s; */
    animation: moveSlideshow infinite;
    animation-duration: 52s;
    animation-delay: 1s;
    animation-direction: alternate;
}

.slider img {
    display:inline-block;
    vertical-align:middle;
    /* width:100px; */
    margin:0;
    margin-left: 8px;
    margin-right: 8px;

}

@keyframes moveSlideshow {
100% { 
    transform: translateX(-1531px);  
}
}

@media screen and (max-width:768px){

    .banner>.bannerItem{

        padding-top:10px; 
    }

    .bannerHead>h2{

        text-align: center;
    }
    .bannerItem>.bannerContent {
        margin: 0 auto;
        justify-content: center;
        text-align: justify;
        width: 100%;
        font-size: 13px;
        margin-right: 27px;

    }

    /* changes */

    


    /* end */


    .services{

        padding-top: 10px;

    }
    
.serviceList > .serviceItem {
    width: 95%;
}
.serviceItem > .serviceItemContent {
    display: flex;
    flex-flow: column;
    text-align: justify;
    padding: 1rem;
    justify-content: space-evenly;
    font-size: 14px;
}

    .aboutUs{

        padding-top:10px; 
    }
    .content {
        width: 100%;
        justify-content: flex-start;
        display: flex;
        font-size: 14px;
    }
    .aboutUsHead h2 {
        font-size: 4rem;
        font-weight: bold;
        font-family: Helvetica, sans-serif;
        font-size: 30px;
        color: #a12d2d;
    }
    .aboutUsContent {
        
        padding-top: 1px;
    }
    .aboutUsbtn>a>button {
        background: #9e2a2b;
        border: none;
        border-radius: 10px;
        padding: 1rem;
        color: white;
        margin-top: 1rem;
        font-size: 13px;
    }
    .client {
        display: flex;
        flex-flow: column;
        flex-wrap: wrap;
        margin-top: 1rem;
        margin-bottom: 2rem;
        justify-content: center;
        /* align-items: center; */
    }
}