
.leadershipList{
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    align-content: center;
    margin: 0 auto;
}
.page{
    background-image: url('../static/images/leadership.jpg') ;
    background-blend-mode: color;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(255,255,255 , 0.7); 
}

.pageHead h1{
    font-size: 3.5rem;
    font-family:Helvetica, sans-serif;
    color: #a12d2d;
    
    font-weight: 550; 
}
.listItem{
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    width: 40%;
    margin-bottom: 2rem;
    border: 1px solid lightgray;
    border-radius: 0.75rem;
    text-align: center;
    box-shadow: 0.0625rem 0.0625rem 0.625rem;
    padding: 2rem;
}
.listItemImage {
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.listItemImage>i{
    font-size: 5rem;
}
.listItemImage>.imgHead{
    font-weight: 700;
    color: #115e9c;
    font-size: 20px;
}
.listItemImage>p{
    font-style: 700;
    font-weight: bold;
}
.listItemDesc {
    font-size:1.8rem;
    text-align: justify;
    font-family:Helvetica, sans-serif;
}
@media screen and (max-width:768px){
    .leadershipList{
        width: 98%;
    }
}