.navbar{

  
    height: 8rem;
    margin-bottom: unset;
    border: none;
    background: white;
}

 .navbar-nav{
    background: white;
}
.navHead{
    width: 48%;
}
.navHead>a>img{
    height: 60px;
}
.navbar-default .navbar-nav>li>a {
    color: #777;
    font-size: 17px;
}
.navList{
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    width: 48%;
    list-style: none;
    align-items: center;
    
}

.navList>li>{
    font-size: 1.5rem;
}
.navbar-brand>img{
    height: 6rem;
    width:24rem;
    
}
li>a{
    color:gray;
    font-size: 1.5rem;

}


li>a:hover{
    color:black;
}

.container-fluid{
    /* font-size: 1.25rem; */
}
.navbar-iso_logo>img
{
    height: 6.5rem;
    width: 22rem;
}
.lo {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row;
}
a.navbar-iso_logo {
    padding-left:167px;
    /* padding-top: 13px; */
    /* padding-top: 30px; */
}
/* @media screen and(max-width:768px){
    a.navbar-iso_logo {
        padding-right:0px;
        
    }
    .navbar-iso_logo>img
    {
        height: 2rem;
        width:10rem;
    }

} */
@media screen and (max-width:768px){

    a.navbar-iso_logo {
        padding-left:0px;
        
    }
    .navbar-iso_logo>img {
        height: 6rem;
        width: 12rem;
        margin: 9px;
    }
    
    .navbar-brand>img {
        height: 5rem;
        width: 14rem;
    }
}