.sample_wrap{
    
        display:  flex;
        flex-flow: row;
        background:url(../static//images/blur.jpg);
         height: 300px;
        width: 100%;
        flex-wrap:  wrap;
        margin: 0 auto;
        justify-content: space-between;
        background-position: center;
        background-size: cover;
}
.text {
    width:800px;
    background: rgba(255,255,255,0.7);
    text-align: center;
    padding-top: 100px;
   
}
.text h1{


    font-size: 8rem;
    color: #a12d;
}

.pdf1 {
    display: flex;
    /* justify-content: space-evenly; */
    /* padding: 30px; */
    padding-top: 23px;
    padding-left: 20px;
    padding-bottom: 10px;
    margin: 20px;
    width: 425px;
    box-shadow: 0px 0px 11px black;
    height: auto;
}




.image_heading h1 {
    padding-left:40px;
    padding-top:70px;
    font-weight: bold;
    /* width: 60px; */
    font-size: 2rem;
    /* width: 55px; */
    color: #115E9C;     
}

.image_pdf img {
    height: 217px;
    border: 1px solid blue;
}


.pdf_wrap {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-bottom: 20px;
    padding-top: 20px;
}