.purposeValue{
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    background: url('../static/images/pasionValueBg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 6rem;
    padding-bottom: 6rem;
}
.purposeValue>.purposeValueDesc{
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    width: 60%;
    margin: 0 auto;
   
}
.purposeValueDesc>.descHead{
    font-size: 3.5rem;
    font-family:Helvetica, sans-serif;
    border-bottom: 1px solid lightgray;
    padding: 0;
    margin: 0 auto;
    color: #a12d2d;
    font-weight: bold;
}
.purposeValueDesc>.descContent{
    padding-top: 2rem;
    justify-content: center;
    width: 100%;
    text-align: justify;
    font-size: 16px;
    font-family:Helvetica, sans-serif;
}
.purposeValueDesc>.purposeValueList{
    DISPLAY: FLEX;
    flex-flow: row;
    flex-wrap: wrap;
    padding-top: 3rem;
    justify-content: space-evenly;
}
.purposeValueList>.pvListItem {
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    width: 325px;
    padding: 4rem;
    background: rgba(255,255,255,0.85);
    justify-content: center;
    margin: 0 auto;
    height: 325px;
    font-size: 1.4rem;
    font-family:Helvetica, sans-serif;
    border: 1px solid;
    border-radius: 50%;
    margin-bottom: 2rem;
}
.pvListItem>.listItemHead{
    font-weight: 700;
    font-size: 1.5rem;
    border-bottom: 1px solid lightgray;
    margin: 0 auto;
    margin-bottom: 1rem;
}
.pvListItem>.listItemContent{
    /* text-align: justify; */
}


@media screen and (max-width:768px){



    .purposeValue{

        padding-top:3rem;
    }
    .purposeValueList>.pvListItem {
        display: flex;
        flex-flow: column;
        flex-wrap: wrap;
        width: 260px;
        padding: 2rem;
        background: rgba(255,255,255,0.85);
        justify-content: center;
        margin: 0 auto;
        height: 260px;
        font-size: 1.1rem;
        border: 1px solid;
        border-radius: 50%;
        margin-bottom: 2rem;
    }
    .purposeValueDesc>.descHead {
        font-size: 2rem;
        font-family: 'Crimson Text' , sans-serif;
        border-bottom: 1px solid lightgray;
        padding: 0;
        font-weight: 700;
        margin: 0 auto;
    }
    .purposeValueDesc>.descContent{

        width:95%; 
        padding-left:16px; 
    }
    .purposeValue>.purposeValueDesc{


        width:100%;
    }
}