.whatWeDo{
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.whatWeDoBanner{
    padding-top: 2rem;
    padding-bottom: 2rem;
    height: 550px;
    background: url(../static/images/advisory.jpg);
    background-color: rgba(255, 255, 255, 0.7);
    background-blend-mode: luminosity;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    color: white;
    flex-flow: row;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}
.whatWeDoHead{
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    width:38%;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    text-align: justify;
  
}
.whatWeDoHead p{
    font-size:18px; 
    font-family:Helvetica, sans-serif;
}
.whatWeDoHead>h2{
    font-family:Helvetica, sans-serif;
}
.whatWeDoBtn{
    display: flex;
    justify-content: space-evenly;
    width: 38%;
    margin: 0 auto;
    flex-flow: row;
    flex-wrap: wrap;
    width: 37%;
    align-items: center;
    
    
    

}
.whatWeDoBtn>a{
    width: 50%;
    TEXT-ALIGN: CENTER;
    MARGIN-BOTTOM: 7PX;
}
.whatWeDoBtn>a>button {
    width: 120px;
    height: 120px;
    margin-bottom: 7px;
    padding: 5px;
    background: none;
    border: none;
    box-shadow: 1px 1px 11px black;
    border-radius: 50%;
    background-color:white;
    color: #115E9C;
    font-size: 11px;
    text-decoration: none;
    font-weight:bold;
    margin: 0 auto;
    transition: transform 0.2s ease-in-out;
    font-family:Helvetica, sans-serif;
}
.whatWeDoBtn>a>button:hover {
    transform:scale(1.03,1.03);
}

.whatWeDoContentList{
    display: flex;
    flex-flow: column;
    margin-top: 8rem;
    justify-content: space-evenly;
    margin-bottom: 8rem;
    width: 100%;
    flex-wrap: wrap;
}
.whatWeDoContentList>.listItem{
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    margin: 0 auto;
    border: none;
    border-bottom: 1px solid lightgray;
    box-shadow: none;
    width: 60%;
    margin-bottom: 2rem;
    text-align: justify;


}
.whatWeDoContentList>.listItem>.itemHead{
    display: flex;

}
.whatWeDoContentList>.listItem>.itemHead>p{
    font-weight:bold;
    font-size: 18px;
    font-family:Helvetica, sans-serif;
    color: #115E9C;

}
.itemContent {
    font-size: 16px;
    font-family:Helvetica, sans-serif;
}
.whatWeDoContentList>.note{
    font-weight: 700;
    text-align: center;
   
}

@keyframes floating {
    0% {
		transform: translate(0%,0%);	
	}
	25% {
		transform: translate(5%,15%);	
	}	
	50% {
		transform: translate(10%,5%);	
	}	
	75% {
		transform: translate(0%,15%);	
	}	
	100% {
		transform: translate(0%,0%);
    }   
}
@media screen and (max-width:768px){
    .whatWeDoHead{
        width: 95%;
    }
    .whatWeDoBanner{
        height: unset;

    }
    .whatWeDoBtn{
        width: 95%;
    }
    .whatWeDoBtn>a>button{
        width: 85px;
        height: 85px;

    }
    
    .whatWeDoContentList>.listItem{
        width: 95%;
    }
    
}
@media screen and (max-width:768px){


    .whatWeDoHead>h2{
       font-size:3rem; 
    }
    .whatWeDoHead>p{
        font-size: 1.1rem;
        }
        .whatWeDoBtn>a>button {
            width: 92px;
            height: 92px;
            font-size:10px; 
        }

}